body{
  margin:0;
  background:#000;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color:white;
}

.property-page{
  padding:90px 40px;
}

/* TOP BAR */
.top-bar1{
  display:flex;
  gap:15px;
  align-items:center;
  flex-wrap:wrap;
  margin-bottom:25px;
}

.top-bar1 input,
.top-bar1 select{
  background:#111;
  border:1px solid #333;
  padding:10px 14px;
  border-radius:8px;
  color:white;
}

.price-row{
  display:flex;
  gap:10px;
}

.filter-btn{
  background:#111;
  border:1px solid #555;
  color:white;
  padding:10px 16px;
  border-radius:8px;
}

.save-btn{
  background:#e2b34c;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  font-weight:600;
}

.layout-icons button{
  background:#111;
  border:1px solid #444;
  color:white;
  padding:8px 12px;
  border-radius:6px;
  margin-left:5px;
}

/* ADVANCED */
.advanced-filter{
  background:#111;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}

.view-btn{
  background:#e2b34c;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  margin-right:10px;
}

.clear-btn{
  background:#333;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  color:white;
}

/* CONTENT LAYOUT */
.content{
  display:flex;
  gap:20px;
}

.content.grid .map-view{display:none;}
.content.map .property-grid{display:none;}

.property-gridd{
  flex:1;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.property-card{
  background:#111;
  border-radius:12px;
  overflow:hidden;
  transition:0.3s;
}

.property-card:hover{
  transform:translateY(-8px);
}

.property-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card-content{
  padding:15px;
}

.card-content h3{
  color:#e2b34c;
  margin:0;
}

.details{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  margin-top:10px;
  color:#aaa;
}

/* MAP */
.map-view{
  flex:1;
  height:600px;
}

.map-view iframe{
  width:100%;
  height:100%;
  border-radius:12px;
  border:none;
}
.filter-item {
  position: relative;
}

.filter-btn {
  background: #000;
  border: 1px solid #333;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.price-dropdown {
  position: absolute;
  top: 55px;
  left: 0;
  background: #111;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 15px;
  width: 280px;
  z-index: 100;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-dropdown select {
  background: #000;
  border: 1px solid #444;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  max-height: 200px;
}

.to-text {
  color: #aaa;
}
